Repository cse110-sp25-group29/cse110-sp25-group29, pull requests merged in 2025-06, with the labels that each got.

#137 Adding sprint 3 notes. Progress #134
  admin/meetings/sprint-3/053125-sprint-3-retrospective.md
  admin/meetings/sprint-3/053125-sprint-3-review.md
  admin/meetings/sprint-4/053125-sprint-4-planning.md
Labels: documentation

#147 Delete useless png, Add view all card page and Fix path issue
  source/assets/scripts/editor-page.js
  source/assets/scripts/homepage.js
  source/assets/scripts/view_all_card.js
  source/assets/styles/homepage.css
  source/assets/view_all_card.html
  source/dark.png
  source/homepage.html
  source/light.png
Labels: home page

#171 Fix title name in homepage and gallary page
  source/assets/homepage.html
  source/assets/view_all_card.html
Labels: home page, all cards page

#177 Added icon
  source/assets/homepage.html
  source/assets/view_all_card.html
Labels: home page, all cards page

#179 Updated 'How it works' in homepage
  source/assets/homepage.html
  specs/tutorial.md
Labels: documentation, home page

#181 Fix md style in homepage
  source/assets/homepage.html
Labels: home page

#184 Add homepage-tutorial.md under docs
  docs/homepage_tutorial.md
Labels: home page, all cards page

#188 Tutorial Guide
  source/assets/images/user-view-dark.png
  source/assets/images/user-view-editor-img.png
  source/assets/images/user-view-editor-new.png
  source/assets/images/user-view-editor-open.png
  source/assets/images/user-view-editor-shape.png
  source/assets/images/user-view-editor-text.png
  source/assets/images/user-view-editor.png
  source/assets/images/user-view-gallery-card.png
  source/assets/images/user-view-gallery-new.png
  source/assets/images/user-view-gallery-upload.png
  source/assets/images/user-view-gallery.png
  source/assets/images/user-view-home-card.png
  source/assets/images/user-view-home-gallery.png
  source/assets/images/user-view-home-new.png
  source/assets/images/user-view-home-upload.png
  source/assets/images/user-view-home.png
  source/assets/images/user-view-options.png
  source/assets/images/user-view-star-card.png
  source/assets/images/user-view-star-hover.png
  source/assets/images/user-view-upload-dialog.png
  specs/tutorial.md
Labels: documentation, home page, editor page, all cards page

#191 Final
  README.md
Labels: documentation, deliverable
